---
import { getCollection } from "astro:content";
import HeadingWithUnderline from "@components/HeadingWithUnderline";

const awards = await getCollection('awards');
---

<section class="mb-24">
    <HeadingWithUnderline client:load text="Awards" />
    
    <ul class="list-disc pl-6">
        {
            awards.map(({data}) => (
                <li>{data.name}</li>
            ))
        }
    </ul>
</section>
