---
import { getCollection } from "astro:content";
import HeadingWithUnderline from "@components/HeadingWithUnderline";

const awards = await getCollection('awards');
---

<section class="mb-24">
    <HeadingWithUnderline client:load text="Awards" />
    
    <ul>
        {
            awards.map(({data}) => (
                <li class="mb-2 flex flex-row gap-4 items-start">
                    <div class="min-w-24 bg-mizugaki/50 dark:bg-mizugaki/70 rounded-sm px-0.5 text-center">{data.year}</div>
                    <div>
                        <p>{data.name}</p>
                        {data.description !== "" && (
                            <p class="italic">({data.description})</p>
                        )}
                    </div>
                </li>
            ))
        }
    </ul>
</section>
