---
import HeadingWithUnderline from "@components/HeadingWithUnderline";
---

<section class="mb-24">
    <HeadingWithUnderline client:load text="Publications" />
    <p>Unfortunaly, I don't have any yet...</p>
</section>