---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"h3"> {}
const props = Astro.props;
---

<h3
  class="text-2xl font-semibold my-4"
  {...props}
>
  <slot />
</h3>
