---
import "../../../styles/globals.css";

import MainLayout from "../../layouts/MainLayout.astro";
import { Content } from "@content/misc.mdx";
import mdComponent from "@components/md/components";
import ImageGallery from "@components/ImageGallery.astro";
---

<MainLayout>
    <div class="mb-8">
        <Content components={mdComponent} />
    </div>

    <ImageGallery />
</MainLayout>
