---
import { ClientRouter } from "astro:transitions";

const { class: className } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>Cheung Yiu Fai</title>
        <ClientRouter />

        <link rel="icon" type="image/x-icon" href="favicon.ico?v=2" />
    </head>
    <body
        class:list={[
            "bg-shironeri text-kuro font-sans xs:text-[16px] md:text-[18px] dark:bg-sumi dark:text-shironeri transition-all relative min-h-screen",
            className,
        ]}
    >
        <slot />

        <script>
            function colorTheme() {
                if (
                    localStorage.theme == "dark" ||
                    (!("theme" in localStorage) &&
                        window.matchMedia("(prefers-color-scheme: dark)")
                            .matches)
                ) {
                    document.documentElement.classList.add("dark");
                } else {
                    document.documentElement.classList.remove("dark");
                }
            }

            colorTheme();
            document.addEventListener("astro:after-swap", colorTheme);
        </script>
    </body>
</html>

<style is:global>
    img {
        content-visibility: auto;
    }
</style>
